:global(.ui.basic.label).toolbarBtn {
  border: none
}

.actionBtnGroup {
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;

  :global(.ui.basic.label).editBtn {
    border: 0;
  }

  :global(.ui.basic.label).closeBtn {
    border: 0;

    &:hover {
      color: red;
    }
  }
}
