.headerWrp {
  background-color: white;
  padding: 1em 0;

  .userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .status {
      color: gray;
      font-size: 14px;

      input {
        border: 1px solid black;

        &:focus {
          outline: none;
          border: 1px solid #57caff;
        }
      }

      button {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}
